SECRET_KEY=django-insecure-l^u%blr5+r0qjvn64af*&i6w*m7x%!_n!%0meogo1$+71d0*5c

# ------------------------------
# PostgreSQL (Docker Service: db)
# ------------------------------
POSTGRES_DB=empchat_db
POSTGRES_USER=empchat_user
POSTGRES_PASSWORD=empchat_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432